<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Iniciar sesion</h2>
  
    
    <div class="login-container">
        <form [formGroup]="miFormulario">
            <p>Correo:<input type="email" formControlName="correo" [(ngModel)]="correo"  class="form-control" ></p>
            <p>Contraseña:<input type="password" formControlName="password" [(ngModel)]="password"  class="form-control" ></p>
        </form>
      <p><button class="btn btn-primary" (click)="logearse(correo,password)" [disabled]="!miFormulario.valid">Enviar</button></p>

    </div>
  </div>

