/* You can add global styles to this file, and also import other style files */
.general{
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/057/102/non_2x/blue-wave-background-vector.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}